

.mat-cell, .mat-header-cell {
    border: 1px solid black;
    text-align : center
}

//tr:hover {
//  background-color:#DF4500;
//}

.blinking{
    animation:blinkingText 5s infinite;
}
@keyframes blinkingText{
    0%{     color: #000;    }
    49%{    color: #000; }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #000;    }
}

img {
    width: 26px;
    margin-left: 19px;
}


table {
    width: 90%;
   table-layout: fixed;
   margin-left: 30px;
  }
  
 


  .pageHeader {
      margin-left: 20px;
  }


  .addButton {
   color: whitesmoke;
    background-color: teal;
    border-color: teal;

  }