<div class="example-header">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
      </div>
      
      <div class="example-container mat-elevation-z8">
      
        <mat-table [dataSource]="dataSource" matSort>
      
          <!-- Vehicle Number Column -->
          <ng-container matColumnDef="vnumber">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Vehicle Number </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
          </ng-container>
      
          <!-- Progress Column -->
          <ng-container matColumnDef="tripdate">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Trip Date </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.progress}}% </mat-cell>
          </ng-container>
      
          <!-- Name Column -->
          <ng-container matColumnDef="drivername">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Driver </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
          </ng-container>
      
          <!-- Color Column -->
          <ng-container matColumnDef="triplocation">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Location </mat-header-cell>
            <mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.color}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="tripid">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Trip Number </mat-header-cell>
                <mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.color}} </mat-cell>
         </ng-container>
      
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;">
          </mat-row>
        </mat-table>
      
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
      
    