<div class="rfms-addnew-vehicle mt-2 ml-4">
    <div class="row">
        <div class="col">
            <h3>
                    Add New Vehicle<br>
            </h3>
            <span class="text-muted"> Refer the instruction for more details</span>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
                <mat-form-field appearance="standard">
                        <mat-label>Owner Name</mat-label>
                        <input matInput placeholder="Owner name">
                        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                        <mat-hint>Enter the name of the owner</mat-hint>
                      </mat-form-field>

                      
        </div>
        <div class="col-md-3">
                <mat-form-field appearance="standard">
                        <mat-label>Registration Number</mat-label>
                        <input matInput placeholder="XX-XX-XX-XXXX">
                        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                        <mat-hint>Enter the registration number of the vehicle</mat-hint>
                      </mat-form-field>

                      
        </div>
        
        <div class="col-md-3">
                <mat-form-field appearance="standard">
                        <mat-label>FC Certificate</mat-label>
                        <input matInput placeholder="FC certification number">
                        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                        <mat-hint>Enter the FC certificate number</mat-hint>
                      </mat-form-field>

                      
        </div>
        <div class="col-md-3">
                <mat-form-field appearance="standard">
                        <mat-label>Insurance Number</mat-label>
                        <input matInput placeholder="Insurance Number">
                        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                        <mat-hint>Enter the insurance certificate number</mat-hint>
                      </mat-form-field>

                      
        </div>
        <div class="col-md-3">
                <mat-form-field appearance="standard">
                        <mat-label>Insurance Expiry Date</mat-label>
                        <input matInput placeholder="Expiry Date">
                        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                         <mat-hint>Expiry Date of the Insurance</mat-hint>
                      </mat-form-field>

                      
        </div>
        <div class="col-md-3">
                <mat-form-field appearance="standard">
                        <mat-label>Insurance Company Name</mat-label>
                        <input matInput placeholder="Insurance Name">
                        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                         <mat-hint>Name of the insurance company</mat-hint>
                      </mat-form-field>

                      
        </div>
        <div class="col-md-3">
                <!-- <mat-form-field appearance="fill" class="example-form-field">
                        <mat-label>Choose a date</mat-label>
                        <input matInput [matDatepicker]="datepicker">
                        <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
                        <mat-datepicker #datepicker>
                          <mat-datepicker-actions>
                            <button mat-button matDatepickerCancel>Cancel</button>
                            <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                          </mat-datepicker-actions>
                        </mat-datepicker>
                      </mat-form-field>                     -->
        </div>
        
        
    </div>

    <div class="rfms-addvehicle-info mt-3">
        

            <div class="rfms-gi-info col-md-6 jumbotron">
                <div class="ml-3">
                        <span class="blink_text">Instruction to user</span>
                        <li>All fields are mandatory</li>
                        <li>Care should be taken while entering the values.</li>
                        <li>User will not be able to edit these details once saved.</li>
                        <li>Save button needs to be clicked after entering all values.</li>
                </div>
                   
                </div>
                <div class="rfms-g-savecancelsection col-md-6">
                    
                        <button class=" btn btn-success">
                                Save Details
                            </button>           
                            
                </div>
    </div>

    </div>
