  <div class="ml-2 driverDetailsMainDiv">


    <div class=" ml-3 pageHeader">
        <strong>Driver  Details</strong>

        <div class="modal-body row">
               <div class="col-md-3">
                      <p>Available Driver(s) : {{totalVehicles}}</p>
                     
               </div>

               <div class="col-md-3">
                   <button class="btn addButton" (click)="showDriverForm=!showDriverForm"> Add Driver </button>
               </div>

            
        </div>


        <div class="modal-body row">
               <span>
                      <i class="fas fa-info-circle"> Represential Values. Don't make any decision based on this</i>
               </span>

        </div>

 </div>


 

<hr>

<div class="formDiv">

        <div class=" ml-2 alert alert-primary" role="alert" *ngIf="formResponse">
                 {{formResponseText}}
                 <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
              </div>

    <div class="ml-2 col-md-10" *ngIf="showDriverForm">
        <form class="was-validated" [formGroup]="myForm"  #form="ngForm">

                 

                      <div class="form-group row">
                        <label for="batchNumber" class="col-sm-2 col-form-label">Batch Number</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" formControlName="batchNumber" id="batchNumber" placeholder="batchNumber" required>
                        </div>
                      </div>


                      <div class="form-group row">
                                    <label for="driverName" class="col-sm-2 col-form-label">Driver Name</label>
                                    <div class="col-sm-10">
                                      <input required type="text" class="form-control" formControlName="driverName" id="driverName" placeholder="Driver Name">
                                    </div>
                      </div>



                      <div class="form-group row">
                                    <label for="driverNumber" class="col-sm-2 col-form-label">Driver Number</label>
                                    <div class="col-sm-10">
                                      <input  required type="number" class="form-control" formControlName="driverNumber" id="driverNumber" placeholder="Driver Number">
                                    </div>
                      </div>


                      <div class="form-group row">
                                    <label for="licenseNumber" class="col-sm-2 col-form-label">License Number</label>
                                    <div class="col-sm-10">
                                      <input required type="text" class="form-control" formControlName="licenseNumber" id="licenseNumber" placeholder="licenseNumber">
                                    </div>
                      </div>

                   


                      <div class="form-group row">
                            <label for="expiryDateBatch" class="col-sm-2 col-form-label">Expiry Date(Batch)</label>
                            <div class="col-sm-10">
                              <input required type="date" class="form-control" formControlName="expiryDateBatch" id="expiryDateBatch" placeholder="Expiry date Batch Number">
                            </div>
                      </div>

                        <div class="form-group row">
                                    <label for="expiryDateLicense" class="col-sm-2 col-form-label">Expiry Date(License)</label>
                                    <div class="col-sm-10">
                                      <input required type="date" class="form-control" formControlName="expiryDateLicense" id="expiryDateLicense" placeholder="Expiry date License Number">
                                    </div>
                        </div>

                     
                      <div class="form-group row">
                        <div class="col-sm-10">
                          <button type="submit" (click)="submitForm(myForm)" class="mr-3 btn  addButton waves-effect waves-light">Submit</button>
                          <button type="submit" (click)="cancelForm();"  class= "btn addButton waves-effect waves-light">Clear</button> 
                      </div>
                      </div>
        </form>
 
     </div>







</div>

<!--Driver Details Table goes here-->
<div class="DetailsPart" *ngIf="!showDriverForm">


  <mat-table  class="ml-2 mr-2 mat-elevation-z8 " mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="driverName">
           <mat-header-cell *matHeaderCellDef mat-sort-header> Driver Name</mat-header-cell>
           <mat-cell *matCellDef="let element"> {{element.driverName}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="driverNumber">
           <mat-header-cell *matHeaderCellDef mat-sort-header> Driver Number</mat-header-cell>
           <mat-cell *matCellDef="let element"> {{element.driverNumber}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="licenseNumber">
           <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
           <mat-cell *matCellDef="let element"> {{element.licenseNumber}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="batchNumber">
           <mat-header-cell *matHeaderCellDef>City</mat-header-cell>
           <mat-cell *matCellDef="let element"> {{element.batchNumber}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="expiryDateLicense">
           <mat-header-cell *matHeaderCellDef> Driver Name</mat-header-cell>
           <mat-cell *matCellDef="let element"> {{element.expiryDateLicense}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="expiryDateBatch">
           <mat-header-cell *matHeaderCellDef> Driver Number</mat-header-cell>
           <mat-cell *matCellDef="let element"> {{element.expiryDateBatch}}</mat-cell>
    </ng-container>
   
    <ng-container matColumnDef="action">
           <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
           <mat-cell *matCellDef="let element">
                  <img alt="edit" src="https://img.icons8.com/officel/16/000000/edit.png" value="edit"
                         (click)=edit(element) tool-tip="Edit">
                  <img alt="delete" src="https://img.icons8.com/dusk/64/000000/delete-row.png" value="delete"
                         (click)=delete(element) tool-tip="Delete">

           </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns" sticky></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
</div>


  </div>