<p> Driver Details</p>
<div class="row">
    <div class="col-sm-4" style="background-color:lavender;">
        <br>
    <mat-card>
        Driver Name Goes here <br>
        Driver Number Goes here<br>
        Driver Company Name (If applciable)<br>
        Driver Last salary <br>
        Driver License Number<br>
        Driver Batch Number <br>
    </mat-card>

    <br>
    <mat-card>
        Driver Name Goes here <br>
        Driver Number Goes here<br>
        Driver Company Name (If applciable)<br>
        Driver Last salary <br>
        Driver License Number<br>
        Driver Batch Number <br>
    </mat-card>
   
    </div>
    
    <div class="col-sm-4" style="background-color:lavenderblush;">
        <br>
        <mat-card>
            Driver Name Goes here <br>
            Driver Number Goes here<br>
            Driver Company Name (If applciable)<br>
            Driver Last salary <br>
            Driver License Number<br>
            Driver Batch Number <br>
        </mat-card>
        <br>
        <mat-card>
            Driver Name Goes here <br>
            Driver Number Goes here<br>
            Driver Company Name (If applciable)<br>
            Driver Last salary <br>
            Driver License Number<br>
            Driver Batch Number <br>
        </mat-card>
        
    </div>
    
  </div>