<header class="header" role="banner">
        <h1 class="logo">
          <a href="#">RMS <span>Admin</span></a>
        </h1>
        <div class="nav-wrap">
          <nav class="main-nav" role="navigation">
            <ul class="unstyled list-hover-slide">
              <li><a >Vehicle Details</a></li>
              <li><a >Charts</a></li>
              <li><a >Expense Details</a></li>
              <li><a >Service Details</a></li>
            </ul>
          </nav>
        </div>
      </header>