.example-spacer {
    flex: 1 1 auto;
  }
.rfms-chart-wrapper{
    display: flex;
    margin: 0 8px;
}
.rfms-charts{
    width: 100%;
    .rfms-chart-matcard{
        box-shadow: 0 3px 11px 0 #e8eafc, 0 3px 3px -2px hsl(0deg 0% 70% / 10%),
         0 1px 8px 0 hsl(0deg 0% 60% / 10%);
        height: 192px;
        flex-direction: column;
    }
   
}
.rfms-vehiclecount-info, .rfms-card-revenue{
    align-items: center;
    display: flex;
   
    justify-content: space-between;
}