.termsPage {
  //Font declarations should contain at least one generic font family
  font-family: 'ubuntu',sans-serif;
  font-size: 14px !important;
  font-weight: normal;
}

.jumbotron p {
  margin-bottom: 15px;
  font-size: 14px !important;
}
