<div class="container termsPage">
  <div class="row">

    <div class="col-md-9">
      <p class="jumbotron termsPage ">
        <h4>Terms and Condition</h4>
        <p>
          By using the Rams Fleet Management System (herein after 'RMFS'), you agree to the terms and conditions along with the privacy
          policy of the application and/or website.
        </p>

        <h5><strong>Terms of Usage:</strong></h5>
        <p>
          Your use of the Service is at your sole risk. The Service is provided on an “AS IS” and “AS AVAILABLE” basis.
          The Service is provided without warranties of any kind, whether express or implied, including, but not limited to,
          implied warranties of merchantability, fitness for a particular purpose, non-infringement or course of performance.
        </p>
        Author and/or Developer do not warrant that:
        <ul>
          <li>The Service will function uninterrupted, secure or available at any particular time or location;</li>
          <li>Any errors or defects will be corrected;</li>
          <li>The Service is free of viruses or other harmful components;</li>
          <li> Or the results of using the Service/Products will meet your requirements. </li>
        </ul>
        <ul>
          <li>Since the application is still in beta stage, many of the features might not work correctly. Download at your risk.</li>
          <li>The author is not responsible to any of the claims and issues arises due to the code</li>
          <li>Source code is developed and made available as FREE and Open Source and the same can be accesed via github platform.</li>
          <li>Downloading the source code, automatically applies that the user is intended to abide by the terms and conditions.</li>
        </ul>
        <h5><strong>Credits/license</strong></h5>
        <p>
          <small>
            Icons Powered by <a class="style:none" href="https://icons8.com/">Icons8</a>. <br>
            <p>Icon made from <a href="http://www.onlinewebfonts.com/icon">Icon Fonts</a> is licensed by CC BY 3.0</p> <br>
            <p> Login form design inspired from <a href="https://codepen.io/ainalem/pen/EQXjOR" target="_blank" rel="noopener noreferrer">Codepen Mikael Ainalem </a></p>
          </small>

          <span class="text-muted">
            This page has been updated on February 2020. Please verify the terms frequently.
          </span>
        </p>
      </div>
    </div>
  </div>
 
