<p> Driver Details</p>
<div class="row">
    <div class="col-sm-4" style="background-color:lavender;">
     
  <div *ngFor="let driver of driverDetailsList">
      <br>
      <mat-card>
          <mat-card-title>
              {{driver.name}}
          </mat-card-title>
          <mat-card-subtitle>
              {{driver.phoneNumber}}
          </mat-card-subtitle>
          <mat-card-content>
              License Number: {{driver.licenseNumber}} <br>
              Batch Number: {{driver.batchNumber}} <br>
              Salary: {{driver.salary}}
          </mat-card-content>
      </mat-card>
      <br>
  </div>

          
   
    </div>
    
    <div class="col-sm-4" style="background-color:lavenderblush;">
       
    
    </div>
    
  </div>