table {
    width:100%;
}

.mat-cell, .mat-header-cell {
    border: 1px solid black;
    text-align : center
}

tr:hover {
  background-color:#DF4500;
}

.blinking{
    animation:blinkingText 5s infinite;
}
@keyframes blinkingText{
    0%{     color: #000;    }
    49%{    color: #000; }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #000;    }
}