<div class="mainModule" >
        <div>
            <div class="row">
           <div class="col-md-3">
                Vehicle Details
          </div>
          <div class=col-md-4>
               <button  mat-stroked-button (click)="alertMethod()">Add new Vehicle</button>
          </div>
            </div>
        </div>
        <br>
               
               <div class="col-md-10 ">
                    <div *ngIf="showAlert"   role="alert">   <!--*ngIf="showAlert"-->
                     <form [formGroup]="myForm"  #f="ngForm">
                     <div class="form-container">
                            <div class="row col-md-4">
                                   <mat-form-field [hideRequiredMarker]=false [floatLabel]=true >
                                          <input formControlName="vehicleName" matInput placeholder="Vehicle Name" required>
                                          </mat-form-field>
                                          <br>
                                          <mat-form-field [hideRequiredMarker]=false [floatLabel]=true >
                                            <input formControlName="vehicleNumber" matInput placeholder="Vehicle Number" required>
                                          </mat-form-field>
                                          <br>
                                          <mat-form-field [hideRequiredMarker]=false [floatLabel]=true >
                                            <input formControlName="driverName" matInput placeholder="Driver Name" required>
                                          </mat-form-field>
                                          <br>
                                          <mat-form-field [hideRequiredMarker]=false [floatLabel]=true >
                                            <input formControlName="driverNumber" matInput placeholder="Driver Number" required>
                                          </mat-form-field>
                            </div>
                            <div class = "row col-md-4">
                                   <br>
                                   <mat-form-field [hideRequiredMarker]=false [floatLabel]=true >
                                     <input formControlName="cityOfTravel" matInput placeholder="City " required>
                                   </mat-form-field>
                                   <br>
                                   <mat-form-field [hideRequiredMarker]=false [floatLabel]=true >
                                     <input formControlName="dateStart" matInput placeholder="Date" required>
                                   </mat-form-field>
                                    <br>
                                   <mat-form-field [hideRequiredMarker]=false [floatLabel]=true >
                                     <input formControlName="startingMeter" matInput placeholder="Starting Meter" required>
                                   </mat-form-field>
                                   <br>
  
                                   <mat-form-field [hideRequiredMarker]=false [floatLabel]=true >
                                     <input formControlName= "endingMeter" matInput placeholder="Ending Meter">
                                   </mat-form-field>
                                   <br>  
                                  
                            </div>
                            <div class = "col-md-4">
                                   
                                

              <button submit class="btn btn-info" (click)="clearForm()"> Clear  </button>
              <br>
              <br>
               <button type="submit" class="btn btn-success" (click)="submitForm(myForm)">Submit</button>
              <br>
              <br>
              <button submit class="btn btn-danger" (click)="cancelForm()">Cancel</button>

                            </div>        
                                 
                               
                          
                           
                          
                            <!-- <mat-form-field
                                [hideRequiredMarker]="options.value.hideRequired"
                                [floatLabel]="options.value.floatLabel">
                              <mat-select required>
                                <mat-option>-- None --</mat-option>
                                <mat-option value="option">Option</mat-option>
                              </mat-select>
                              <mat-label><mat-icon>favorite</mat-icon> <b> Fancy</b> <i> label</i></mat-label>
                            </mat-form-field> -->
                       
                     
                     
                     </div>
                        </form>  
                     
              
                </div>
            </div>
        <br> 
        
        <div >
                
               <div class="col-md-10">
                 <table mat-table [dataSource] = "dataSource" class="mat-elevation-z8" matSort>
               
                 <ng-container matColumnDef = "vehicleNumber" >
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Vehicle Number</th>
                        <td mat-cell *matCellDef = "let element"> {{element.vehicleNumber}}</td>
                  </ng-container>
                 <ng-container matColumnDef = "vehicleName">
                    <th mat-header-cell *matHeaderCellDef> Vehicle Name</th>
                    <td mat-cell *matCellDef = "let element"> {{element.vehicleName}}</td>
                 </ng-container>
                 <ng-container matColumnDef = "date">
                        <th mat-header-cell *matHeaderCellDef> Date of Entry</th>
                        <td mat-cell *matCellDef = "let element"> {{element.dateStart}}</td>
                 </ng-container>

                 <ng-container matColumnDef = "cityOfTravel">
                        <th mat-header-cell *matHeaderCellDef >City</th>
                        <td mat-cell *matCellDef = "let element"> {{element.cityOfTravel}}</td>
                 </ng-container>

                 <ng-container matColumnDef = "drivername">
                        <th mat-header-cell *matHeaderCellDef> Driver Name</th>
                        <td mat-cell *matCellDef = "let element"> {{element.driverName}}</td>
                 </ng-container>
                 <ng-container matColumnDef = "drivernumber">
                        <th mat-header-cell *matHeaderCellDef> Driver Number</th>
                        <td mat-cell *matCellDef = "let element"> {{element.driverNumber}}</td>
                 </ng-container>
                 <ng-container matColumnDef = "start">
                        <th mat-header-cell *matHeaderCellDef>Starting Meter</th>
                        <td mat-cell *matCellDef = "let element"> {{element.startingMeter}}</td>
                 </ng-container>
                 <ng-container matColumnDef = "end">
                        <th mat-header-cell *matHeaderCellDef>Ending Meter</th>
                        <td mat-cell *matCellDef = "let element"> {{element.endingMeter}}</td>
                 </ng-container>
                 <ng-container matColumnDef = "total">
                        <th mat-header-cell *matHeaderCellDef>Total Travelled Today</th>
                        <td mat-cell *matCellDef = "let element"> {{element.endingMeter - element.startingMeter }}</td>
                 </ng-container>
                 <ng-container matColumnDef = "action">
                     <th mat-header-cell *matHeaderCellDef>Action</th>
                     <td mat-cell *matCellDef = "let element"> 
                                   <img src="https://img.icons8.com/officel/16/000000/edit.png" value="edit" (click)=edit(element) tool-tip="Edit">
                                   <img src="https://img.icons8.com/dusk/64/000000/delete-row.png" value="delete" (click)=delete(element) tool-top="Delete">
                           
                                   <!-- <button (click)="edit(element)" 
                                   class="btn btn-primary mb-2">Edit</button>
                          <button (click)="delete()" class="btn btn-primary mb-2">Delete</button>                     -->
                     </td>
              </ng-container>
              

                   <tr mat-header-row *matHeaderRowDef="displayedColumns" sticky></tr>
                   <tr mat-row *matRowDef ="let row; columns: displayedColumns;"></tr>
                </table>
              </div>
              
            </div>
  </div>



 
  


  
