/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
 
html, body { height: 100%; }
body {  margin: 0; font-family: "Ubuntu", sans-serif !important;  background-color: hsl(0, 0%, 98%); }
 

.mat-drawer-content {
     overflow-x: hidden !important;
}

 
