/**
Author: https://github.com/senbagaraman04
*/

 

.rfms-homepage{
    max-width: 1172px;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    margin: auto;
}
 