<div class="rfms-homepage-outerwrapper">

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="#">rfms</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                  <ul class="navbar-nav mr-auto">
                    <!-- <li class="nav-item active">
                      <a class="nav-link" href="#" >Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Features</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Pricing</a>
                    </li> -->
                  <li class="nav-item active">
                    <a class="nav-link" href="/welcome">Login <span class="sr-only">(current)</span></a>
                  </li>

                  </ul>
                  
                </div>
              </nav>
 <div class="rfms-homepage">              
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <div class="">
          <h1 class="display-4">Rams Fleet Management</h1>
          <p class="lead">Best in class fleet management system to help both costumers and consumers in all possible ways.</p>
          <hr class="my-4">
          <h5 class="whyrfms-solutiontext">
              We provide best in class oppurtunities for everyone ranging from fuel management to fleet infrastructures.Try us and you will experience the outcome.
              <li>Fleet Management</li>
              <li>Service Outcomes</li>
              <li>Performance Improvements</li>
            </h5>
        </div>
      </div>
      <div class="col-md-5">
        
          <img class="rfms-homepage-imagegif" alt="rfms"   width="100%" src="../../assets/car.gif">
       
      </div>
    </div>
 </div>

  <app-four-card-section>
    
  </app-four-card-section>

</div>