

 @import '../../../node_modules/compass-mixins/lib/compass';




// *, :before, :after{ box-sizing: border-box; }
// // FONTS
// $sans: 'Ubuntu', sans-serif;

// // COLORS
// $orange: #DF4500;
// $gray: #35302D;
// $gray-shine: #3C3735;

// $white-off: #DFDBD9;

// // REUSABLE STYLES
// .unstyled{ list-style: none; padding: 0; margin: 0;
//   a{ text-decoration: none; }
// }
// .list-inline{ overflow: hidden;
//   li{ float: left; }
// }

// // HEADER STYLES
// .header{
//   position: fixed;
//   left: 0; top: 0; bottom: 0;
//   width: 17.5em;
//   background: $gray;
// }

// .logo{
//   text-transform: lowercase;
//   font: 300 2em $sans;
//   text-align: center;
//   padding: 0; margin: 0;

//   a{
//     display: block;
//     padding: 1em 0;
//     color: $white-off;
//     text-decoration: none;
//     transition: .15s linear color;

//     &:hover{
//       color: #fff;
//       span{ color: $orange; }
//     }
//   }

//   span{
//     font-weight: 700;
//     transition: .15s linear color;
//   }
// }

// // MAIN NAV
// .main-nav{
//   ul{
//     border-top: solid 1px $gray-shine;
//   }

//   li{
//     border-bottom: solid 1px $gray-shine;
//   }

//   a{
//     padding: 1.1em 0;
//     color: $white-off;
//     font: 400 1.125em $sans;
//     text-align: center;
//     &:hover{
//       color: #fff;
//     }
//   }
// }



// // HOVER SLIDE EFFECT
// .list-hover-slide{

//   li{
//     position: relative;
//     overflow: hidden;
//   }

//   a{
//     display: block;
//     position: relative;
//     z-index: 1;
//     transition: .55s ease color;

//     &:before{
//       content: '';
//       display: block;
//       z-index: -1;
//       position: absolute;
//       left: -100%; top: 0;
//       width: 100%; height: 100%;
//       border-right: solid 5px $orange;
//       background: $gray-shine;
//       transition: .35s ease left;
//     }

//     &.is-current,
//     &:hover{

//       &:before{
//         left: 0;
//       }
//     }
//   }
// }




p {
  margin-left: 10px;
  margin-top: 9px;
}

::ng-deep .expandButton {
  margin: 10px;
  color: teal;
  border: none;
  background: transparent;
}

a.mat-list-item.ng-tns-c1-0.active {
  background : #eff0f1;
  font-weight: bold;
  color: black;
  border-right: 3px solid teal;
}


.rightPanel {
  overflow-y: hidden !important;
}

.mat-card {
  margin-left: 10px;
    margin-right: 10px;
    border: 2px solid teal;
}

.sidepanel-header-image {
  background-image: url('../../assets/icons/developer.png');
  background-size: cover;
}
