


 <mat-sidenav-container autosize>
  <mat-sidenav  mode="side" disableClose="true" opened="true" [fixedInViewport]="true"  [@expandMenuBar]="expandMenu ? 'open': 'closed'">


    <mat-nav-list >
     

      <a mat-list-item routerLink="vehicledetails" routerLinkActive="active" >
        <span class="fas fa-truck-moving"></span> <p *ngIf="expandMenu"> Vehicle Details </p>       
      </a>

      <a mat-list-item class="btn disabled"   routerLinkActive="active" >
          <span class="fas fa-car"></span> <p *ngIf="expandMenu"> Running Status </p>       
        </a>

      <a mat-list-item routerLink="chart" routerLinkActive="active" >
        <i class="fas fa-chart-bar"></i>  <p *ngIf="expandMenu"> Charts </p>  
      </a>

      <a mat-list-item routerLink="driver" routerLinkActive="active" >
        <i class="fas fa-user-secret"></i> <p *ngIf="expandMenu"> Driver Details </p>      
      </a>

      <a mat-list-item class="btn disabled">
        <i class="fas fa-rupee-sign"></i>  <p *ngIf="expandMenu"> Expenses Details </p>  
      </a>

      <a mat-list-item class="btn disabled">
          <i class="fas fa-money-check"></i>  <p *ngIf="expandMenu"> Salary Details </p>  
      </a>


    </mat-nav-list>


  
    <button class="expandButton">
      <span (click)="expandMenu = !expandMenu" *ngIf="!expandMenu" >  <i class="fas fa-angle-double-left"></i>  </span>
      <span  (click)="expandMenu = !expandMenu" *ngIf="expandMenu" >  <i class="fas fa-angle-double-right"></i>  </span>

    </button>

    <mat-card class="sidepanel-card"  *ngIf="expandMenu" >
        <mat-card-header>
          <div mat-card-avatar class="sidepanel-header-image"></div>
          <mat-card-title>rms admin panel</mat-card-title>
          <mat-card-subtitle>fleet management system</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
           Some of the links may not work or will redirect to underconstruction page. Please bear with us.<br>
           Contact: <a href="https://github.com/senbagaraman04" target="_blank"><i class="fab fa-github"></i></a>
          </p>
        </mat-card-content>
      
      </mat-card>


  </mat-sidenav>

  <mat-sidenav-content class="ml-10 rightPanel" >

    
        <router-outlet></router-outlet>
    

  </mat-sidenav-content>

</mat-sidenav-container>



